.roomsContainer {
    display: flex;
    justify-content: space-between;
    min-width: 80vw;
}

.messagesList {
    flex: 1;
    color: #282c34;
    margin: 0 20px;
    min-height: 60vh;
    background-color: white;
}