.container {
    display: flex;
    justify-content: space-between;
    min-width: 80vw;
    width: 100vw;
    height: 100vh;

}

.messagesListWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;

}

.messagesListWrapper > ol {
    flex: 1;
}